.PlotWrapper, .LegendWrapper {
    float: left;
}

.PlotCanvas {
    width: 100em;
    height: 50em;
    margin: 1em;
}

#DurationHeading {
    margin-top: 2em;
}

.ClearBoth {
    clear: both;
}

#divider {
    border: 0;
    clear: both;
    display: block;
    background-color: darkgrey;
    height: 1px;
}

#QueryFormLookBack {
    padding-bottom: 10em;
    margin-bottom: 7em;
}
