@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <p class="text-center lead">Office Licensing Shield Dashboard.</p>
    <div class="text-center">
        <h3>#LicensingHackathon - To be integrated with the OLS project later.</h3>
    </div>
</div>
