<script id="TmplPlotCanvas" type="text/x-jquery-tmpl">
	<div class="PlotWrapper">
		<canvas class="PlotCanvas" id="${CanvasId}"></canvas>
	</div>
	<div class="LegendWrapper" id="${LegendId}"></div>
	<div class="ClearBoth"></div>
</script>

